<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <script src="/webjars/angularjs/1.4.7/angular.min.js"></script>
    <script src="/webjars/angularjs/1.4.7/angular-sanitize.min.js"></script>
    <script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script th:inline="javascript">
        var baseURI = [[${#httpServletRequest.getServerName()}]] + ":" + [[${#httpServletRequest.getServerPort()}]];
        var settings = [[${message}]];
        angular.module('myApp',['ngSanitize']).controller('GreetingController', ['$scope', function($scope) {
            $scope.baseURI = baseURI;
            $scope.greeting = eval("("+new String(settings)+")");

            $scope.formatJSON = function(str){
                console.log(typeof str);
                return JSON.stringify(JSON.parse(str), undefined, 2);
            }
        }]);
    </script>

</head>
<body ng-app="myApp">
    <div class="container-fluid" ng-controller="GreetingController">

        <h1>{{greeting.title}}</h1>
        <h2>{{greeting.info}}</h2>

        <div class="row" ng-repeat="mapping in greeting.mappings">
            <h3>{{mapping.title}}</h3>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default" ng-repeat="route in mapping.routes">
                    <div class="panel-heading" role="tab" id="route-{{$index}}">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-route{{$index}}" aria-expanded="true" aria-controls="collapse-route{{$index}}">
                                {{route.title}}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-route{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="route-{{$index}}">
                        <div class="panel-body">
                            <h5><span class="label label-success">{{route.method}}</span>{{baseURI}} {{route.url}}</h5>
                            <div ng-repeat="resp in route.response">
                                <span>{{resp.status}}/{{resp.contentType}}</span>
                                <pre ng-bind-html="formatJSON(resp.content)"> </pre>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</body>
</html>
